html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#header_logo {
	display: block;
	margin: 0 auto;
	height: 175px;
	}


#nav {
	height: 50px;
	background-color: black;
	margin: 0 auto;

}
#nav ul {
	text-align: center;
	position: relative;
	padding: 0;
	top: 20%;
	margin: auto 0;
	}

#nav li {
	list-style-type: none;
	margin: none;
	display: inline;
	padding: 0 10px;
	line-height:30px;
	}
	
#nav a {
	font-family: 'Inconsolata', monospace;
	letter-spacing: 1.5px;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: #f1f1f1;
	display: inline-block;
	height: 30px; width: 100px;
	border: 1px black solid;
	vertical-align: center;
	}
	
#nav a:visited {
	text-decoration: none;
	}
	
#nav a:hover {
	text-decoration: underline;
	color: white;
	background-color: #666;
	}
	
#nav a.active{
	text-decoration: none;
	color: white;
	background-color: #666;
	}

#slider{
	height: 750; width: 750px;
	margin: 30px auto;
	overflow: hidden;
}

#slider img {
	max-height: 750px; max-width: 750px;
	display: none;
	z-index: 0;
}

#footer {
	height: 50px; width: 100%;
	clear: both;
	background: #f1f1f1;
	position: fixed;
	bottom: 0;
	display: fixed;
	align-items: center;
}

#header {
	top: 0px;
	position: fixed;
	width: 100%; height: auto;
	background-color: white;
	z-index: 9999;
}

#main {
	/*height: 2000px;*/
}

#spacer {
	height: 207px; width: 100%;
	margin-top: 30px;
}

#footer_logo {
	height: 50px;
	float: left;
	line-height: 85px;
	opacity: 0.35;
}

#social li {
	list-style-type: none;
	margin: none;
	display: inline;
	padding: 10px;
	line-height:30px;
}